.container {
    position: relative;
}

.image {
    width: 100%;
}

.text_container {
    position: absolute;
    top: 40%;
    left: 15%;
}

.title {
    display: flex;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0px 0px 16px rgba(11,5,3,0.97);
}

.title::before {
    content: '';
    display: block;
    width: 10px;
    height: 94px;
    background-color: #ef454a;
    margin-right: 15px;
    margin-top: 12px;
}

@media (max-width: 968px) {
    .text_container {
        top: 30%;
    }
    .title {
        font-size: 2.5rem;
    }

    .title::before {
        height: 78px;
        margin-top: 8px;
    }
}

@media (max-width: 600px) {

    .title {
        font-size: 2rem;
    }

}

@media (max-width: 425px) {
    .title {
        font-size: 1.5rem;
    }
    .container {
        height: 25vh; 
    }

    .image {
        width: 100%;
        height: inherit;
        position: relative;
    }
}